@font-face {
  font-family: AvenirLTStd-Light;
  src: url(../../../Font/AvenirLTStd-Light.otf);
}

@font-face {
  font-family: Portada;
  src: url('../../../Font/PortadaTextARA-Bold.otf');
}
.imagefilterbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #23272c;
  width: 19rem;
  height: auto;
  border-radius: 10px;
  padding: 20px 18px;
  box-shadow: 15px 15px 5px 5px #00000005;
  cursor: pointer;
  .head {
    text-align: left;
    color: #fffffff4;
    font-size: 17px;
  }
  .imagebox {
    margin: 15px auto;
    width: 100%;
    height: 16rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    flex-direction: row;

    .image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      border-radius: 3px;
      position: relative;
      margin: 5px 0;
      box-shadow: 15px 15px 5px 5px #00000005;

      .back {
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: #0000006f;
        border-radius: 3px;
        text-align: center;
        padding: 2px 7px;
        color: #fffffff4;
        font-size: 14px;
      }
    }
  }
  .captionbox {
    margin: 30px auto;
    width: 100%;
    height: 60px;
    .emoji-picker {
      position: absolute;
      left: 50px;
      top: -20%;
      .emoji-picker-react {
        box-shadow: 0 !important;
        overflow-y: hidden !important;
      }
    }
    .inputbox {
      width: 100%;
      height: 100%;
      border-bottom: 3px solid #99a6ba;
      label {
        color: #99a6ba;
        font-size: 14px;
      }
      .input {
        display: flex;
        align-items: center;
        .text {
          flex: 3;
          input {
            width: 100%;
            border: 0;
            outline: none;
            background-color: inherit;
            color: #fffffff4;
            font-family: AvenirLTStd-Light, Portada;
          }
        }
        .icon {
          color: #919191c9;
          font-size: 25px;
        }
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 25px;
    .boxadd {
      flex: 3;
      color: #99a6ba;
      input[type='file'] {
        display: none;
      }
      div {
        border-radius: 4px;
        width: 35px;
        text-align: center;
        padding: 3px 10px;
        transition: all ease 0.5s;
      }
      div:hover {
        background-color: #99a6ba25;
      }
    }

    .sendboximage {
      flex: 2;
      color: #99a6ba;
      span {
        border-radius: 4px;
        width: auto;
        text-align: center;
        padding: 3px 10px;
        transition: all ease 0.5s;
      }
      span:hover {
        background-color: #99a6ba25;
      }
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 1024px) {
  .inputbox .icon {
    display: none;
  }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
  .imagefilterbox {
    left: 35% !important;
    top: 35% !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .imagefilterbox {
    left: 50% !important;
    top: 50% !important;
  }
}
